<% if @res %>

<style type="text/css"> 
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }
</style> 

<title>Google Maps JavaScript API v3 Example: Map Simple</title> 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&key=ABQIAAAAKl1KirkuM9Plf64-bvK9tBSsTVJEtjvmgU9mT0FZk6ysq6KTZBRScr2kyQavDd1ykyeYD-A7AFmcqA"></script> 
<script type="text/javascript"> 
  function initialize() {
    var myLatlng = new google.maps.LatLng( <%= @res.lat %>, <%= @res.lng %>);
    var myOptions = {
      zoom: 17,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }
</script> 

<body onload="initialize()"> 

  <div id="map_canvas"></div> 

</body> 
</html> 

<% end %>
